---
- name: Create S3 Assets Bucket
  local_action:
    module: s3
    aws_access_key: "{{ aws_access_key }}"
    aws_secret_key: "{{ aws_secret_key }}"
    bucket: "{{ app_name }}-assets-{{ server_env }}"
    mode: create

- name: Create S3 Env Bucket
  local_action:
    module: s3
    aws_access_key: "{{ aws_access_key }}"
    aws_secret_key: "{{ aws_secret_key }}"
    bucket: "{{ app_name }}-{{ server_env }}"
    mode: create

- name: Install AWSCLI
  pip: name=awscli state=present

- name: Create AWSCLI credentials
  file: path=~/.aws owner={{ ansible_env.USER }} state=directory

- name: Create template
  template: src=aws_config.j2 dest=~/.aws/config owner={{ ansible_env.USER }} backup=yes

- name: Copy CORS Config to tmp directory
  copy: src=cors-config.json dest=/tmp/

- name: Create cors policies
  command: "aws s3api put-bucket-cors --bucket {{ item }} --cors-configuration file:///tmp/cors-config.json --profile {{ app_name }}"
  with_items:
    - "{{ bucket_name }}"

- name: create policy config to tmp directory
  template: src=policy-config.json.j2 dest=/tmp/{{ item }}.json
  with_items:
    - "{{ bucket_name }}"

- name: Create bucket policy json files
  command: "aws s3api put-bucket-policy --bucket {{ item }} --policy file:///tmp/{{ item }}.json --profile {{ app_name }}"
  with_items:
    - "{{ bucket_name }}"

- name: Enable versioning
  command: "aws s3api put-bucket-versioning --bucket {{ item }} --versioning-configuration MFADelete=Disabled,Status=Enabled --profile {{ app_name }}"
  with_items:
    - "{{ bucket_name }}"
  when: server_env == "production"


